networks:
  infra_proxy:
    external: true
    name: infra_proxy

services:
  php:
    build:
      context: .
      dockerfile: Dockerfile.php83
      args:
        PHP_VERSION: 8.3
    container_name: project4-static-loc-php
    volumes:
      - ./www:/opt/www
      - ./logs/php:/var/log/php
    environment:
      - PHP_IDE_CONFIG=serverName=project4-static.loc
      - XDEBUG_CONFIG=client_host=host.docker.internal
      - TZ=${TZ:-Europe/Moscow}
    networks:
      - infra_proxy
    labels:
      - "traefik.enable=false"

  nginx:
    image: nginx:alpine
    container_name: project4-static-loc-nginx
    volumes:
      - ./www:/opt/www:ro
      - ./nginx/site.conf:/etc/nginx/conf.d/default.conf:ro
      - ./logs/nginx:/var/log/nginx
    depends_on:
      - php
    networks:
      - infra_proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.project4-static.rule=Host(`project4-static.loc`)"
      - "traefik.http.routers.project4-static.entrypoints=web"
      - "traefik.http.services.project4-static.loadbalancer.server.port=80"
